@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #F9F9F9;
}

header {
    background-color: #FFFFFF;
    width: 100%;
    height: 56px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 100%;
}

nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li#iconLogo {
    width: 146px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li#procurar {
    width: 404px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #CCCCCC;
}

nav ul li#procurar img {
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    padding: 5px 15px;
    font-weight: bolder;
}

nav ul li#perfil {
    width: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li#perfil #imgPerfil {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
.nav-lateral{
    background-color: #FFFFFF;
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 20px;
}
.nav-lateral span{
    display: flex;
    align-items: center;
    gap: 10px;
}
.conteudo{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.conteudo article{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
}
.conteudo article aside{
    display: flex;
    gap: 10px;
}
.conteudo article aside img{
    width: 45px;
    height: 45px;
}
.conteudo article aside span{
    display: flex;
    flex-direction: column;
    gap: 5px;
}