header{
    width: 100%;
    background-color: #2D333B;
    color: #fff;
    padding: 15px;   

    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    font-family: 'Inter', 'Roboto', 'Arial';
    font-size: 24px;
}